.text-orange{
    color: rgb(244, 67, 54);
}
.style-header-card{
    h4{
        margin-bottom: 0;
    }
    span{
        opacity: 0.4;
        font-size: 14px;
    }
}

.card-body-inf{
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
}

.aspect-card-large{
    aspect-ratio: 6/10;
}