<!-- sidebar -->
<app-sidebar></app-sidebar>

<!-- navbar -->
<app-nav-bar></app-nav-bar>
<!-- cards -->
<div class="container">
  <div class="row">
    <div class="col">
      <app-card></app-card>
    </div>
    <div class="col">
      <app-card></app-card>
    </div>
    <div class="col">
      <app-card></app-card>
    </div>

    <div class="col">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header bg-white ms-2 style-header-card">
          <h4>titulo</h4>
          <span>titulo del span</span>
        </div>
        <img src="./assets/HD-wallpaper-superman-dc-premium-superheroes.jpg" class="card-img-top aspect-card-large" alt="...">
        <div class="card-body ">
          <h5 class="card-title fw-normal">Card title</h5>
          <div class="card-body-inf mb-4">
          <p><b>primera aparicion: </b>Some quick example text</p>
          <p><b>personaje: </b>Some quick example text to build</p>
          </div>
          <a href="#" class="text-decoration-none text-orange">Leer mas...</a>
        </div>
      </div>
    </div><div class="col">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header bg-white ms-2 style-header-card">
          <h4>titulo</h4>
          <span>titulo del span</span>
        </div>
        <img src="./assets/The-Flash-Wallpaper.jpg" class="card-img-top aspect-card-large" alt="...">
        <div class="card-body ">
          <h5 class="card-title fw-normal">Card title</h5>
          <div class="card-body-inf mb-4">
          <p><b>primera aparicion: </b>Some quick example text</p>
          <p><b>personaje: </b>Some quick example text to build</p>
          </div>
          <a href="#" class="text-decoration-none text-orange">Leer mas...</a>
        </div>
      </div>
    </div><div class="col">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header bg-white ms-2 style-header-card">
          <h4>titulo</h4>
          <span>titulo del span</span>
        </div>
        <img src="./assets/Linterna-verde.webp" class="card-img-top aspect-card-large" alt="...">
        <div class="card-body ">
          <h5 class="card-title fw-normal">Card title</h5>
          <div class="card-body-inf mb-4">
          <p><b>primera aparicion: </b>Some quick example text</p>
          <p><b>personaje: </b>Some quick example text to build</p>
          </div>
          <a href="#" class="text-decoration-none text-orange">Leer mas...</a>
        </div>
      </div>
    </div>
  </div>