<!-- sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-indigo-300">
    <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn bx bx-menu text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div>
      <ul class="list-sidebar">
        <li><i class='bx bxs-tag me-4 mt-4'></i> <a class="" href="#">Action</a></li>
        <li><i class='bx bx-plus me-4 mt-4' ></i><a class="" href="#">Another action</a></li>
        <li><i class='bx bx-search me-4 mt-4' ></i><a class="" href="#">Something else here</a></li>
      </ul>
  </div>
</div>

<!-- navbar -->
<nav class="navbar bg-navbar">
  <div class="container-fluid">
    <a class="circular-button fs-6 p-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class='bx bxs-home' ></i></a>
    <a class="circular-button px-2 py-3">Logout</a>
  </div>
</nav>

<div class="w-100 ms-4 ">
  <h3 class="bg-white fw-normal py-2 px-2 border-b">Lista de heroes</h3>
</div>

<!-- cards -->

<div class="card" style="width: 18rem;">
  <div class="card-header">titulo</div>
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">titulo</div>
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div><div class="card" style="width: 18rem;">
  <div class="card-header">titulo</div>
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>