
.bg-navbar{
    background-color: rgb(245, 245, 245);
}
.bg-orange{
    background-color: rgb(244, 67, 54);
}

.circular-button{
    font-size: 9px;
    border-radius: 50%;
    color: white;
    &:hover{
        cursor: pointer;
        color: rgb(244, 67, 54);
        background: white;
    }
}