
.bg-indigo-300{
    background-color: rgb(103, 59, 189);
}
.list-sidebar{
    list-style: none;
    li{
        a{
            text-decoration: none;
            color: rgb(29, 35, 39);
        }
    }
}