<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-indigo-300">
        <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn bx bx-menu text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div>
        <ul class="list-sidebar">
            <li><i class='bx bxs-tag me-4 mt-4'></i> <a class="" href="#">Action</a></li>
            <li><i class='bx bx-plus me-4 mt-4'></i><a class="" href="#">Another action</a></li>
            <li><i class='bx bx-search me-4 mt-4'></i><a class="" href="#">Something else here</a></li>
        </ul>
    </div>
</div>