body{
    background-color: rgb(250, 250, 250);
}
.bg-navbar{
    background-color: rgb(245, 245, 245);
}
.bg-indigo-300{
    background-color: rgb(103, 59, 189);
}
.list-sidebar{
    list-style: none;
    li{
        a{
            text-decoration: none;
            color: rgb(29, 35, 39);
        }
    }
}

.circular-button{
    cursor: pointer;
    font-size: 9px;
    border-radius: 50%;
    color: white;
    background-color: rgb(244, 67, 54);
    text-decoration: none;
}
.border-b{
    border-bottom: 2px solid rgb(214, 211, 211);
}